<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="utf-8" />
    <title>Course List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
<div class="container p-4">
    <div align="center">
        <h1>Course List</h1>  <a class="btn btn-primary" href="/create-course">Create New Course</a>
        <br>
        <br>
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${listCourse}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.title}"></td>
                <td th:text="${course.description}"></td>
                <td>
                    <button class="btn btn-info editCourseButton" th:attr="data-course-id=${course.id}">Edit</button>
                    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <!-- Admin-specific content -->
                        <button class="btn btn-danger deleteCourseButton" th:attr="data-course-id=${course.id}">Delete</button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <br />
<!--        <a class="btn btn-primary" href="/create-course">Create New Course</a>-->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../tokenUtils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Add JavaScript to handle the delete and edit action -->
<script>
    $(document).ready(function() {
        var jwtToken = localStorage.getItem('jwtToken');
        // Event handler for the delete button
        $('.deleteCourseButton').on('click', function(e) {
            e.preventDefault(); // Prevent the default behavior of the anchor tag

            // Confirm deletion
            var courseId = $(this).data('course-id');
            if (confirm('Are you sure you want to delete this course?')) {
                // Perform AJAX request to delete the course
                $.ajax({
                    type: 'DELETE',
                    url: '/courses/' + courseId,
                    headers: {
        		        'Authorization': 'Bearer ' + jwtToken
   			        },
                    success: function(response) {
                        // Handle success, e.g., remove the row from the table
                        alert('Course deleted successfully!');
                        var storedToken = getStoredToken();
                        // Assuming you want to remove the row upon successful deletion
                        $(this).closest('tr').remove();
                        // Handle success, e.g., redirect to the course list page
                        window.location.href = '/course-list';
                    },
                    error: function(error) {
                        // Handle error, e.g., display an error message
                        console.error('Delete failed:', error.responseJSON.message);
                    }
                });
            }
        });


        // Event handler for the update button
        $('.editCourseButton').on('click', function(e) {
            e.preventDefault(); // Prevent the default behavior of the anchor tag

            // Confirm updation
            var courseId = $(this).data('course-id');
            if (confirm('Are you sure you want to edit this course?')) {
                // Redirect to the prefilled edit page for the course
                var storedToken = getStoredToken();
                window.location.href = '/courses/edit/' + courseId;
            }
        });
    });
</script>

</body>
</html>
