<!-- src/main/resources/templates/registration.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body class="bg-dark">

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center">Create New Course</h4>
                    <form id="createCourseForm" action="/courses" method="post">
                        <div class="mb-3">
                            <label for="title">Title:</label>
                            <input type="text" id="title" name="title" class="form-control" required/>
                        </div>
                        <div class="mb-3">
                            <label for="description">Description:</label>
                            <textarea type="text" id="description" name="description" class="form-control" required></textarea>
                        </div>
                        <button type="button" onclick="submitForm()" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function submitForm() {
    var formData = $("#createCourseForm").serializeObject();
    $.ajax({
        type: "POST",
        url: "/courses",
        data: JSON.stringify(formData),
        contentType: "application/json",
        success: function (response) {
            alert("Courses Added successful!");
            window.location.href = "/course-list";
        },
        error: function (error) {
            console.error("Registration failed:", error.responseJSON.message);
        }
    });
}

// Extend jQuery to serialize form data into an object
$.fn.serializeObject = function () {
    var obj = {};
    var form = this.serializeArray();
    $.each(form, function () {
        if (obj[this.name] !== undefined) {
            if (!obj[this.name].push) {
                obj[this.name] = [obj[this.name]];
            }
            obj[this.name].push(this.value || '');
        } else {
            obj[this.name] = this.value || '';
        }
    });
    return obj;
};

</script>
</body>
</html>
